.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list-loading,
.todo-list-empty {
  text-align: center;
  padding: 3rem 1rem;
  color: #888;
  font-size: 1.1rem;
}

.todo-list-empty {
  color: #667eea;
  font-weight: 500;
}



